doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/javascripts/application.js") 
    title Glance
  body 
    .space
    nav
      a(href="/home") 
        img(src="/images/glance_logo.jpg", alt="Glance")
      ul
        li 
          a(href="/home") ðŸ  Home
        li 
          a(href="/profile") ðŸ‘¤ Profile
      a(href="/post")
        button(class="btn-large") âœï¸ Post

    block content
      - let kinds = Object.keys(flash || {});
          if kinds.length > 0
            ul.ulFlash
              each kind in kinds
                each message in flash[kind]
                  li.flash(class=kind)= message

    section.topics
      .hot
        h1 Hot Posts
        ul 
          li Post 1
          li Post 2
          li Post 3
          li Post 4
          li Post 5